!!!
%html
  %head
    %title SimpleTask
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      - if notice
        .alert.alert-info
          %p= notice
      
      - if alert
        .alert.alert-error
          %p= alert
      
      - if flash[:success]
        .alert.alert-success
          %p= flash[:success]
      = yield
